
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "beautifultours";
}

<div class="trips-section">
    <div class="container">
        <h3 class="title">Beautiful Tours</h3>
        <div class="col-xs-4 exce-grid1-mmstyle">
            <img src="~/Content/TravelAndTours/images/australia.jpg" alt="">
            <div class="grid-ec1">
                <h3>Visit to australia with our good price and have a good weekend </h3>
                <p>Visit sydney with us on one click</p>
                <h4>
                    <i class="fa fa-map-marker"></i>Sydney Australia
                </h4>
                <h4 class="w3l-name">
                    <i class="fa fa-calendar"></i>5 Days 4 night
                </h4>
            </div>
        </div>
        <div class="col-xs-4 exce-grid1-mmstyle">
            <img src="~/Content/TravelAndTours/images/turkey.jpg" alt="">
            <div class="grid-ec1">
                <h3>Visit to turkce with our good price and have a good weekend</h3>
                <p>Visit turkey with us on one click</p>
                <h4>
                    <i class="fa fa-map-marker"></i>Istanbul, Turkey
                </h4>
                <h4 class="w3l-name">
                    <i class="fa fa-calendar"></i>8 Days 7 night
                </h4>
            </div>
        </div>
        <div class="col-xs-4 exce-grid1-mmstyle">
            <img src="~/Content/TravelAndTours/images/dubai.jpg" alt="">
            <div class="grid-ec1">
                <h3>Visit to dubai with our good price and a good weekend</h3>
                <p>Visit to dubai with us on one click</p>
                <h4>
                    <i class="fa fa-map-marker"></i>Burj Khalifa, Dubai
                </h4>
                <h4 class="w3l-name">
                    <i class="fa fa-calendar"></i>6 Days 5 night
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>