<!-- banner -->
<div class="inner_banner_agile">

</div>
<!--//banner -->
<!-- short -->
<div class="services-breadcrumb">
    <div class="inner_breadcrumb">
        <ul class="short_ls">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
                <span>/ /</span>
            </li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<!-- //short-->
<!-- //banner -->
<!-- Contact -->
<div class="contact">
    <div class="container">
        <h3 class="title">Contact Us</h3>
        <div class="contact-block-left">
            <form action="#" method="post">
                <input type="text" placeholder="Name" required="" name="Name">
                <input type="email" class="email" placeholder="Email" name="Email" required="">
                <textarea placeholder="Message" name="message" required=""></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="contact-seco">
            <div class="col-md-5 col-xs-5 contact-left-w3ls">
                <h3>Get In Touch</h3>
                <div class="visit">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
                        <h4>Visit us</h4>
                        <p>Parma Via Modena,BO, Italy</p>
                        <p>Lorem ipsum dolor.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="mail-w3">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
                        <h4>Mail us</h4>
                        <p>
                            <a href="mailto:info@example.com">info@example.com</a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="call">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
                        <h4>Call us</h4>
                        <p>+18044261149</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 social-w3">
                <div class="main">
                    <ul>
                        <li class="f1">
                            <a href="#" class="social-contact-w3">
                                <i class="fa fa-facebook f1" aria-hidden="true"></i>
                                <p>Facebook</p>
                            </a>
                        </li>
                        <li class="f2">
                            <a href="#" class="social-contact-w3">
                                <i class="fa fa-google-plus f2" aria-hidden="true"></i>
                                <p>Google Plus</p>
                            </a>
                        </li>
                        <li class="f3">
                            <a href="#" class="social-contact-w3">
                                <i class="fa fa-twitter f3" aria-hidden="true"></i>
                                <p>Twitter</p>
                            </a>
                        </li>
                        <li class="f4">
                            <a href="#" class="social-contact-w3">
                                <i class="fa fa-linkedin f5" aria-hidden="true"></i>
                                <p>Linkedin</p>
                            </a>
                        </li>
                        <li class="f5">
                            <a href="#" class="social-contact-w3">
                                <i class="fa fa-dribbble f6" aria-hidden="true"></i>
                                <p>Dribbble</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //Contact -->